html, body{
    height: 100%;
    min-height: 100%;
    padding-top: 25px;
}

.presentation{
    background-image: url("../images/personal_stuff.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.ped{
    background-image: url("../images/personal_stuff.jpg");
}

.code{
    background-image: url("../images/code.jpg");
    padding-bottom: 1%;
}

.code_text{
    text-align: center;
}

.code_text h2, .code_text h4{
    margin:5px;
}

.profile{
    color:white;
    text-align: center;
    margin-top: 10px;
}

.circle-image{
    width:auto;
    max-width: 200px;
    height:200px;
    border-radius:50%;
    background-image:url("../images/me.jpg");
    display:block;
    background-position-y:25%;
    background-position-x:45%;
    margin:0 auto;
    opacity:0.8;
}

.education_container{
    margin-bottom: 10px;
}

.education{
    opacity:0.9;
}

.education:hover{
    opacity:1;
}

.education_div{
    margin-top: 15%;
}

.row_top{
    margin-top: 20px;
}
.white{
    color:white;
}

/* Override navbar */

.navbar{
    margin-bottom: 0;
}

.edu{
    border-radius: 25px;
    border: 2px solid #e7e7e7;
    margin-bottom: 10px;
}

.responsive_img_code{
    max-width: 100px !important;
}