html, body{
    height: 100%;
    min-height: 100%;
}


.presentation{
    background-image: url("../images/personal_stuff.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.profile{
    color:white;
    text-align: center;
    margin-top: 10px;
}

.circle-image{
    width:200px;
    height:200px;
    border-radius:50%;
    background-image:url("../images/me.jpg");
    display:block;
    background-position-y:25%;
    background-position-x:35%;
    margin:0 auto;
    opacity:0.8;
}

.education{
    opacity:0.7;
}

.education:hover{
    opacity:1;
}

.row_top{
    margin-top: 20px;
}

.borders{
    margin-left: 15px;
}

/* Override navbar */

.navbar{
    margin-bottom: 0;
}